body{
    background-color: #000000;
}

.title{
    font-size: 30px;
    color:white;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;
    text-align: center;
}
#img{
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    /* border:1px solid gray; */
    padding:5px;
}


.smallPic{
    text-align: center
}
